*
{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif ;
}
.header{
    min-height: 150vh;
    width: 100%;
    background-image: linear-gradient(to right,#aa4b6b,#6b6b83,#3b8d99);
    background-position: center;
    background-size:cover;
    position: relative;
}

nav{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width:70x;
    height: 70px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition:0.4s;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:linear-gradient(to right,#ED213A,#93291E);
    display: block;
    margin: auto;
    transition: .9s;
    transition-property: inherit;
    
}
.nav-links ul li:hover::after{
    width: 100%;
   

}
.nav-links ul li a:hover{
    color: #FC5C7D;
    transition: .9s;
}
.about-us{
    width: 30%;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.about-us h1{
    display: inline-block;
    position: relative;
    font-size: 48px;
    color: #fff ;
    cursor: pointer;
    transition: .9s;
}
.about-us h1:hover{
    color:#c2e59c;
    transform: translateX(5px);
}
.about-us h1::before{
    content: '';
    position: absolute;
    bottom:-5px;
    left: 0;
    width:0%;
    height: 3px;
    background:linear-gradient(to right,#ED213A,#93291E);
}
.about-us h1:hover::before{
    width: 200px;
    transition: .9s;
}
.paragraph{
    width:95%;
    padding-left: 5%;
    position: absolute;
    top: 26%;
    text-align: justify;
}
.paragraph p{
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: #D3CCE3 ;
}
.button{
    width: 95%;
    padding-left:10%;
    position: absolute;
    top:70%;
}
.information{
    display: inline-block;
    text-decoration: none;
    color: #fff !important;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.information:hover{
    border:1px solid #237A57;
    transform: translateX(5px);
    background-image:linear-gradient(to right,#093028,#237A57);
    transition: 1s;
}
.button1{
    width:95%;
    padding-left: 10%;
    position: absolute;
    top: 77%;
}
.Shipment{
    display: inline-block;
    text-decoration: none;
    color: #fff !important;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.Shipment:hover{
    border:1px solid #237A57;
    transform: translateX(5px);
    background-image:linear-gradient(to right,#093028,#237A57);
    transition: 1s;
}
.bottom{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 50vh;
    flex-direction: column;
    background: #ede7f6;
}
footer{
    position: relative;
    width:100%;
    height: auto;
    padding: 50px 100px;
    background:#111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container .sec{
    margin-right: 30px;

}
footer .container .sec.aboutus{
    width: 40%;
}
footer .container  h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container  h2::before{
    content: '';
    position: absolute;
    bottom:-5px;
    left: 0;
    width:0%;
    height: 2px;
    background:#f00;
}
footer .container  h2:hover::before{
    width: 100px;
    transition: .9s;
}
footer .container  h2:hover{
    color:#FC5C7D;
    transition: .9s;
    transform: translateX(5px);
}
footer .container  p{
    color:#999;
}
.sci{
    margin-top: 20px;
    display: flex;
}
.sci li{
    list-style:none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;

}
.sci li a:hover{
    background:#aa4b6b;
    transition: .9s;
    transform: translateY(-5px);
}
.sci li a .fa{
    color:#fff;
    font-size: 20px;
}
.quickLinks{
    position: relative;
    width: 25%;
}
.quickLinks ul li{
    list-style: none;
}
.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: -25px;
}
.quickLinks ul li a:hover{
    color: #F3F9A7;
    transition: .9s;
    transform: translateX(2px);
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
    margin-left: -25px;
}
.contact .info li span:nth-child(1){
    color:#fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}
.contact .info li a:hover{
    color:#F3F9A7;
    transition: .1s;
    transform: translateX(2px);
}
.copyrightText{
    width: 100%;
    position: absolute;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}
